<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/route.js"></script>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form>
      <label>enter the source</label><br><br>
      <input type="text" id="src"><br><br>
      <label>enter the destination</label><br><br>
      <input type="text" id="dest"><br><br>
      <input type="submit">
    </form>
  </body>
</html>
