<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/cr.js"></script>
  <head>
    <meta charset="utf-8">
    <title>enter crime rate</title>
    <form>
      <label>enter the nearest landmark</label><br><br>
      <input type="text" id="nl"><br><br>
      <label>enter the city</label><br><br>
      <input type="text" id="city"><br><br>
      <label>enter the crime rate</label><br><br>
      <input type="text" id="cr"><br><br>
      <input type="submit">
    </form>
  </head>
  <body>

  </body>
</html>
