<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/cr.js"></script>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <head>
    <meta charset="utf-8">
    <title>enter crime rate</title>
    <form>
      <label>enter the nearest landmark</label><br><br>
      <input type="text" id="nl"><br><br>
      <label>enter the city</label><br><br>
      <input type="text" id="city"><br><br>
      <label>enter the crime rate</label><br><br>
      <input type="text" id="cr"><br><br>
      <input type="submit">
    </form>
  </head>
  <body>

  </body>
</html>
